# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Build directories
target/
**/target/
dist/
build/
.vercel

# Rust build artifacts
**/*.rs.bk
Cargo.lock

# IDE files
.idea/
.vscode/